<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
* { outline: 1px dotted red; }
div.container{
    width: 800px;
    padding: 30px;
    min-height: 700px;
    margin: 0 auto; 
    display: flex;
    flex-wrap: nowrap;
    align-items:flex-start;
   
}

div.content{
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap; 
    height: 575px;
    width: 400px;
 
}
form{
    width: 330px;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="#!">Home</a>
      </nav>
 <div class="container">

    <div class="content">
        <form action="register" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">firstname</label>
                <input type="text" class="form-control" id="" placeholder="firstname" name = "firstname">
              </div>
              <div class="form-group">
                <label for="">lastname</label>
                <input type="text" class="form-control" id="" placeholder="lastname" name="lastname">
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pass">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="passconf">
              </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {% if messages %}
          <ul class="messages">    
              {% for message in messages %}    
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
              {% endfor %}
          </ul>
          {% endif %}
    </div>


    <div class="content">
<form action="log" method="post">
    {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pass">
            </div>

            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>


 </div>  
</body>
</html>